body {
    font-family: "Open-Sans", sans-serif;
}

#label {
    background-color: transparent;
    width: 0;
}

#menuButton {
    margin: 0 0 0 100px;
    width: 25px;
    height: auto;
    cursor: pointer;
}

#disconnect:hover {
    color: rgb(177, 38, 22);
}

p {
    color: #333;
    font-size: 13px;
}

.toggle {
    width: 150px;
}

.dropdown a {
    padding: 0 0 0 10px;
}

.dropdown {
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    right: 10px;
}

.dropdown.toggle > input {
    display: none;
}

.dropdown > a, .dropdown.toggle > label {
    border-radius: 2px;
}

.dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
    overflow: hidden;
}
.dropdown a, .dropdown.toggle > label {
    display: block;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    background-color: rgb(249, 249, 249);
}
.dropdown li {
    height: 0;
    overflow: hidden;
    transition: all 250ms;
}
.dropdown.hover li {
    transition-delay: 300ms;
}
.dropdown li:first-child a {
    border-radius: 2px 2px 0 0;
}
.dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
}
.dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(249, 249, 249);
    margin: -10px 0 0 92px;
}
.dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
    background-color: #EEE;
    color: #666;
}
.dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
    border-top-color: #AAA;
}
.dropdown li:first-child a:hover::before {
    border-bottom-color: #EEE;
}
.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {
    height: 40px;
}
.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
    padding-top: 15px;
}